* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(239, 239, 239);
}
body {
    background-color: grey;
    width: 1130px;
    height: 200px;
}
.kontener {
    width: 90%;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.menu_logo {
    width: 20%;
    height: 95%;
    background-color: rgb(107, 107, 94);
    color: white;
}
.menu_logo div,
.menu_logo menu {
    padding: 20px 0px;
}
.logo {
    background-color: rgb(59, 59, 59);
    height: 24.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu_logo div {
    text-align: center;
}
menu {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 24px;
    margin-bottom: 15px;
}
menu h4 {
    color: black;
    font-size: 25px;
}
ul li {
    margin-left: 15px;
    color: black;
    font-size: 20px;
}
ul {
    margin-top: 6px;
}

.srodek {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.podstrony {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(107, 107, 94);
    align-items: center;
}
.podstrony div a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    border-right: solid 2px black;
    padding-right: 40px;
}

.tworzymy {
    width: 97.4%;
    padding: 10px;
    height: 15%;
    border: 1px solid grey;
    background: linear-gradient(
        45deg,
        rgb(158, 158, 158),
        rgb(119, 119, 119),
        rgb(56, 56, 56)
    );
}
.tworzymy div {
    display: flex;
}
.tworzymy div h4 {
    margin-top: 14px;
    margin-left: 10px;
}
.do {
    width: 99.8%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
}
.do div {
    width: 50%;
    background: linear-gradient(
        45deg,
        rgb(158, 158, 158),
        rgb(119, 119, 119),
        rgb(56, 56, 56)
    );
}

.witamy p {
    column-count: 2;
    column-gap: 7px;
    column-rule: 4px none white;
    font-size: 20px;
}
.witamy {
    border: 1px solid grey;
    height: 49.1%;
    background-color: rgb(54, 52, 52);
}
.witamy h1 {
    margin-bottom: 10px;
}
footer {
    width: 100%;
    height: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(57, 57, 57);
}
/* tekst */
